.calculator{
    width: 400px;
    background-color: black;
  }
  .row1{
    display: flex;
    flex-direction: row;
  }
  .row2{
    display: flex;
    flex-direction: row;
  }
  .row3{
    display: flex;
    flex-direction: row;
  }
  .row4{
    display: flex;
    flex-direction: row;
  }
  .row5{
    display: flex;
    flex-direction: row;
  }
  .btn{
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 100px;
    width: 100px;
    padding: 0;
    border: 2px black solid;
    font-size: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px grey;
  }
  .btn:hover{
    background-color: lightgray;
  }
  .btn:active{
    box-shadow: none;
    background-color: darkgray;
  }
  .double{
    width: 200px;
  }
  .math{
    background-color: orange;
  }
  .triple{
    width: 300px;
  }
  .display{
    height: 100px;
    width: 400px;
    background-color: black;
    font-size: 50px;
    color: white;
    text-align: right;
  }